h1{
    background: coral;
    color: white;
    margin:0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size:24px;
    font-weight: normal;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

ul{
    list-style: none;
    margin:0;
    padding:0;
    
}


input{
    border:3px solid rgba(0,0,0,0);
    font-size:18px;
    background-color: #f7f7f7;
    width: 100%;
    box-sizing: border-box;
    padding:13px 13px 13px 20px;
    color: #2980b9;
}

input:focus{
    background: #fff;
    border: 3px solid #2980b9;
    outline:none;
}
li{
    
    background: #fff;
    height: 40px;
    line-height: 40px;
    color:#666;
}

li:nth-child(2n){
    background:#f7f7f7;
}

#container{
   border: 2px solid gray;
    width: 360px;
    margin: 100px auto;
    background:#f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.fa-plus{
    float: right;
}

li:hover span{
    width:40px;
    transition: 0.2s linear;
    opacity:1.0;
}
span{
    opacity:0;
    width:0px;
    display:inline-block;
    background: #e74c3c;
    height: 40px;
    margin-right:40px;
    text-align: center;
    color: white;
}